<<<<<<< HEAD
body {
    margin: 0;
    padding: 0; 
    background: var(--white-color);
    font-family: var(--base-font-family);
}


.hero {
    background-image: url(coding.webp);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    vertical-align: middle;
    min-height: 100vh;
    position: relative;
 }
.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(coding.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
}
.hero {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-content {
    position: relative; 
    font-family: "Monserrat", sans-serif;
    color: white;
    text-align: center;
    margin: 0.625rem;
}
.hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
}
.hero-subtitle {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
}
.hero-button {
    background-color: #1b59aa;
    color: white;
    border: 1px solid #1340d4;
    margin-top: 5rem;
    padding: 0.9375rem 1.875rem;
    font-family: "Monserrat", sans-serif;
    font-size: 1.125rem;
    font-weight: 200;
    cursor: pointer;
}
.hero-button:hover {
    background-color: #1b59aa;
    border: 1px solid #1340d4;
}
section {
    padding: 7rem 0;
}
.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, minmax(100px, 200px));
    grid-gap: 1rem;
    grid-auto-flow: row;
}
  
.grid-item {
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 992px) {

    .section {
      padding: 5rem 0;
    }

    .nav-item .nav-link {
      padding: 6px;
    }

    .navbar .social-icon {
      margin-top: 22px;
    }

    .navbar-collapse,
    .site-footer {
      text-align: center;
    }

    .schedule-table {
      display: block;
    }

    .modal-content {
      padding: 2rem;
    }
  }
  
=======
* {
    box-sizing: border-box;
}
>>>>>>> 3a4ae8198157202dc8c1578f84836189eac92c84
